<nav>
    <a (click)="logout()">Logout</a>
</nav>

<br>
<div class="btn-group">

    <button type="button" class="btn btn-secondary" (click)="addCouponOpen()">Bay Coupon </button>

    <button type="button" (click)="getAllCoupons()" class="btn btn-secondary">Get All Coupons</button>

    <button type="button" (click)="getCouponsByIdOPen()" class="btn btn-secondary">Get Coupon By Id</button>

    <button type="button" (click)="getCouponsByTypeOPen()" class="btn btn-secondary">Get Coupon By Type</button>

    <button type="button" (click)="getCouponsByDateOPen()" class="btn btn-secondary">Get Coupon By Date</button>

    <button type="button" (click)="getCouponsByPriceOPen()" class="btn btn-secondary">Get Coupon By Price</button>
</div>
<br><br><br>

<div *ngIf="addCouponOpenFlag">
    <div class="form-group row">
        <label class="col-2 col-form-label">Coupin Id</label>
        <div class="col-3">
            <input class="form-control" type="number" (keypress)="onlyNumberKey($event)"
                placeholder="Please enter Coupon id" [(ngModel)]="this.coupId" min="1" maxlength="4">
        </div>
        <div class="col-7">
            <button type="button" (click)="purchaseCoupon()" class="btn btn-primary" style="margin:0px">Add this
                Coupon</button>
        </div>

    </div>
</div>

<div *ngIf="couponByIdFlag">
    <div class="form-group row">
        <label class="col-2 col-form-label">Coupin Id</label>
        <div class="col-3">
            <input class="form-control" type="number" (keypress)="onlyNumberKey($event)"
                placeholder="Please enter Coupon id" [(ngModel)]="this.coupId" min="1" maxlength="4">
        </div>
        <div class="col-7">
            <button type="button" (click)="findCpouponById()" class="btn btn-primary" style="margin:0px">Find Coupon By
                Price Less Than</button>
        </div>
    </div>
</div>

<div *ngIf="couponByTypeFlag">
    <div class="form-group row">
        <label class="col-2 col-form-label">Please select Coupin Type</label>
        <div class="col-3">
            <select class="form-control" name="type" [(ngModel)]="couponType">
                <option selected disabled> Select Type </option>
                <option value="RESTURANS"> RESTURANS </option>
                <option value="ELECTRICITY"> ELECTRICITY </option>
                <option value="FOOD"> FOOD </option>
                <option value="HEALTH"> HEALTH </option>
                <option value="SPORTS"> SPORTS </option>
                <option value="CAMPING"> CAMPING </option>
                <option value="TRAVELLING"> TRAVELLING </option>
            </select>
        </div>
        <div class="col-7">
            <button type="button" (click)="findCpouponByType()" class="btn btn-primary" style="margin:0px">Find Coupon
                By Type</button>
        </div>
    </div>
</div>
<div *ngIf="couponByDateFlag">
    <div class="form-group row">
        <label class="col-2 col-form-label">Coupon End Date</label>
        <div class="col-3">
            <input type="date" class="form-control" placeholder="Please enter Coupon end date" [(ngModel)]="date">
        </div>
        <div class="col-7">
            <button type="button" (click)="findCpouponByDate()" class="btn btn-primary" style="margin:0px"> Find Coupon
                By End Date Before</button>
        </div>
    </div>
</div>
<div *ngIf="couponByPriceFlag">
    <div class="form-group row">
        <label class="col-2 col-form-label">Coupon Price</label>
        <div class="col-3">
            <input type="number" pInputText (keypress)="onlyNumberKey($event)" maxlength="4" min=1 class="form-control"
                placeholder="Please enter Coupon  price" [(ngModel)]="price">
        </div>
        <div class="col-7">
            <button type="button" (click)="findCpouponByPrice()" class="btn btn-primary" style="margin:0px">
                Find Coupon By Price Less Than</button>
        </div>
    </div>
</div>

<div *ngIf="existPurchoise" style="color:red">
    <h2>This coupon is not exist or you have one licke this</h2>
</div>
<div *ngIf="existAllCoupon" style="color:red">
    <h2>You don't have coupons yet</h2>
</div>
<div *ngIf="existId" style="color:red">
    <h2>You don't have this coupon yet</h2>
</div>
<div *ngIf="existType" style="color:red">
    <h2>You don't have  coupon with this type</h2>
</div>
<div *ngIf="existDate" style="color:red">
    <h2>You don't have coupon before this date</h2>
</div>
<div *ngIf="existPrice" style="color:red">
    <h2>You don't have coupon less that this price</h2>
</div>


<div *ngIf="couponArrFlag">
    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Massege</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
        <tr *ngFor="let coupon of coupons">
            <td>{{coupon.id}}</td>
            <td>{{coupon.title}}</td>
            <td>{{coupon.startDate}}</td>
            <td>{{coupon.endDate}}</td>
            <td>{{coupon.amount}}</td>
            <td>{{coupon.type}}</td>
            <td>{{coupon.message}}</td>
            <td>{{coupon.price}}</td>
            <td>{{coupon.image}}</td>
        </tr>

    </table>
</div>
<div *ngIf="oneCouponFlag">
    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Massege</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
        <tr>
            <td>{{this.coupon.id}}</td>
            <td>{{this.coupon.title}}</td>
            <td>{{this.coupon.startDate}}</td>
            <td>{{this.coupon.endDate}}</td>
            <td>{{this.coupon.amount}}</td>
            <td>{{this.coupon.type}}</td>
            <td>{{this.coupon.message}}</td>
            <td>{{this.coupon.price}}</td>
            <td>{{this.coupon.image}}</td>
        </tr>

    </table>
</div>