<nav>
    <a (click)="logout()">Logout</a>
    <div class="float-right">
        <button class="btn btn-primary" (click)="getCompIncomes()">Get All Companys incomes</button>
        <button class="btn btn-primary" (click)="getAllIncome()">Get All Incomes</button>
    </div>
</nav>

<br>
<div class="btn-group">

    <button type="button" class="btn btn-secondary" (click)="custCreateOpen()">Create Customer</button>

    <button type="button" class="btn btn-secondary" (click)="compCreateOpen()">Create Company</button>

    <button type="button" class="btn btn-secondary" (click)="custDeleteOpen()">Delete Customer</button>

    <button type="button" class="btn btn-secondary" (click)="compDeleteOpen()">Delete Company</button>

    <button type="button" class="btn btn-secondary" (click)="custUpdateOpen()">Update Customer</button>

    <button type="button" class="btn btn-secondary" (click)="compUpdateOpen()">Update Company</button>

    <button type="button" class="btn btn-secondary" (click)="getCastOpen()">Get Customer</button>

    <button type="button" class="btn btn-secondary" (click)="getCompOpen()">Get Company</button>

    <button type="button" class="btn btn-secondary" (click)="getAllCustomers()">Get All Customers</button>

    <button type="button" class="btn btn-secondary" (click)="getAllCompanys()">Get All Companys</button>
</div>
<br>
<br>
<br>

<div *ngIf="createCustFlag">
    <div class="form-group row">
        <label class="col-2 col-form-label">Customer Id</label>
        <div class="col-3">
            <input type="number" pInputText (keypress)="onlyNumberKey($event)" maxlength="4" min=1 class="form-control"
                placeholder="Please enter Customer Id" [(ngModel)]="this.user.id">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Customer Name</label>
        <div class="col-3">
            <input type="text" class="form-control" placeholder="Please enter Customer name"
                [(ngModel)]="this.user.userName">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Customer Password</label>
        <div class="col-3">
            <input type="text" class="form-control" placeholder="Please enter Customer password"
                [(ngModel)]="this.user.password">
        </div>
    </div>
    <div class="col-7">
        <button type="button" (click)="createCustomer()" class="btn btn-primary" style="margin-left:150px">Create this
            Customer </button>
    </div>
</div>

<div *ngIf="createCompFlag">
    <div class="form-group row">
        <label class="col-2 col-form-label">Company Id</label>
        <div class="col-3">
            <input type="number" pInputText (keypress)="onlyNumberKey($event)" maxlength="4" min=1 class="form-control"
                placeholder="Please enter Company id" [(ngModel)]="this.user.id">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Company Name</label>
        <div class="col-3">
            <input type="text" class="form-control" placeholder="Please enter Comany name"
                [(ngModel)]="this.user.userName">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Company Password</label>
        <div class="col-3">
            <input type="text" class="form-control" placeholder="Please enter Comany password"
                [(ngModel)]="this.user.password">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Company Email</label>
        <div class="col-3">
            <input type="email" class="form-control" placeholder="Please enter Comany email"
                [(ngModel)]="this.user.email">
        </div>
    </div>
    <div class="col-7">
        <button type="button" (click)="createCompany()" class="btn btn-primary" style="margin-left:150px">Create this
            Company </button>
    </div>
</div>

<div *ngIf="deleteCustomerFlag">
    <div class="form-group row">
        <label class="col-2 col-form-label">Customer Id</label>
        <div class="col-3">
            <input type="number" pInputText (keypress)="onlyNumberKey($event)" maxlength="4" min=1 class="form-control"
                placeholder="Please enter Customer id" [(ngModel)]="custId">
        </div>
    </div>
    <div class="col-7">
        <button type="button" (click)="deleteCustomerById()" class="btn btn-primary" style="margin-left:150px"> Delete
            Customer</button>
    </div>
</div>
<div *ngIf="deleteCompanyFlag">
    <div class="form-group row">
        <label class="col-2 col-form-label">Company Id</label>
        <div class="col-3">
            <input type="number" pInputText (keypress)="onlyNumberKey($event)" maxlength="4" min=1 class="form-control"
                placeholder="Please enter Company id" [(ngModel)]="compId">
        </div>
    </div>
    <div class="col-7">
        <button type="button" (click)="deleteCompanyById()" class="btn btn-primary" style="margin-left:150px"> Delete
            Company</button>
    </div>
</div>

<div *ngIf="updateCustomerFlag">
    <div class="form-group row">
        <label class="col-2 col-form-label">Customer Id</label>
        <div class="col-3">
            <input type="number" pInputText (keypress)="onlyNumberKey($event)" maxlength="4" min=1 class="form-control"
                placeholder="Please enter Customer Id" [(ngModel)]="this.custId">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Customer Name</label>
        <div class="col-3">
            <input type="text" class="form-control" placeholder="Please enter Customer name"
                [(ngModel)]="this.user.userName">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Customer Password</label>
        <div class="col-3">
            <input type="text" class="form-control" placeholder="Please enter Customer password"
                [(ngModel)]="this.user.password">
        </div>
    </div>
    <div class="col-7">
        <button type="button" (click)="updateCustomer()" class="btn btn-primary" style="margin-left:150px">Update
            Customer </button>
    </div>
</div>

<div *ngIf="updateCompanyFlag">
    <div class="form-group row">
        <label class="col-2 col-form-label">Company Id</label>
        <div class="col-3">
            <input type="number" pInputText (keypress)="onlyNumberKey($event)" maxlength="4" min=1 class="form-control"
                placeholder="Please enter Company id" [(ngModel)]="this.compId">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Company Name</label>
        <div class="col-3">
            <input type="text" class="form-control" placeholder="Please enter Comany name"
                [(ngModel)]="this.user.userName">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Company Password</label>
        <div class="col-3">
            <input type="text" class="form-control" placeholder="Please enter Comany password"
                [(ngModel)]="this.user.password">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Company Email</label>
        <div class="col-3">
            <input type="email" class="form-control" placeholder="Please enter Comany email"
                [(ngModel)]="this.user.email">
        </div>
    </div>
    <div class="col-7">
        <button type="button" (click)="updateCompany()" class="btn btn-primary" style="margin-left:150px">Update Comany
        </button>
    </div>
</div>

<div *ngIf="getCustFlag">
    <div class="form-group row">
        <label class="col-2 col-form-label">Customer Id</label>
        <div class="col-3">
            <input type="number" pInputText (keypress)="onlyNumberKey($event)" maxlength="4" min=1 class="form-control"
                placeholder="Please enter Customer id" [(ngModel)]="custId">
        </div>
    </div>
    <div class="col-7">
        <button type="button" (click)="getCustomer()" class="btn btn-primary" style="margin-left:150px"> Get this
            Customer</button>
    </div>
</div>

<div *ngIf="getCompFlag">
    <div class="form-group row">
        <label class="col-2 col-form-label">Customer Id</label>
        <div class="col-3">
            <input type="number" pInputText (keypress)="onlyNumberKey($event)" maxlength="4" min=1 class="form-control"
                placeholder="Please enter Company id" [(ngModel)]="compId">
        </div>
    </div>
    <div class="col-7">
        <button type="button" (click)="getCompany()" class="btn btn-primary" style="margin-left:150px"> Get this
            Company</button>
    </div>
</div>

<div *ngIf="existIdOrName" style="color:red">
    <h2>This id or name is exist</h2>
</div>

<div *ngIf="existId" style="color:red">
    <h2>This id is not exist</h2>
</div>

<div *ngIf="incomeNull" style="color:red">
    <h2>No incomes</h2>
</div>

<div *ngIf="compArrFlag">
    <table>
        <tr>
            <th>Id</th>
            <th>Comany Name</th>
            <th>Password</th>
            <th>Email</th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.password}}</td>
            <td>{{user.email}}</td>
    </table>

</div>
<div *ngIf="oneCompFlag">
    <table>
        <tr>
            <th>Id</th>
            <th>Company Name</th>
            <th>Password</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.password}}</td>
            <td>{{user.email}}</td>
    </table>
</div>
<div *ngIf="custArrFlag">
    <table>
        <tr>
            <th>Id</th>
            <th>Customer Name</th>
            <th>Password</th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.password}}</td>
    </table>

</div>
<div *ngIf="oneCustFlag">
    <table>
        <tr>
            <th>Id</th>
            <th>Company Name</th>
            <th>Password</th>
        </tr>
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.password}}</td>
    </table>
</div>
<div *ngIf="incomsArrFlag">
    <table>
        <tr>
            <th>Id</th>
            <th>User Name</th>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Role</th>
        </tr>
        <tr *ngFor="let income of incomes">
            <td>{{income.id}}</td>
            <td>{{income.name}}</td>
            <td>{{income.date}}</td>
            <td>{{income.description}}</td>
            <td>{{income.amount}}</td>
            <td>{{income.role}}</td>

    </table>

</div>