

button{
    margin-top: 20px
}
input{
    margin-top: 25px;
    inline-size: 500px;

}
h1{

margin-left: 90px;
margin-top: 25px;
    font-size: 50px;
    color:rgba(34, 4, 116, 0.973);
}
select{
    margin-top: 20px;
    inline-size: 500px;
}