
<div class="row">

  <div class="col">
    <h1>Hello!<br>      Plase Sing In</h1>
  </div>
   
  
    <form (onSubmit) = 'submitForm()'>
    <input type="text" class="form-control" placeholder="Login" ngModel name=  "userName">
    <input type="password" class="form-control" placeholder="Password"  ngModel name ="password">
        <select  class="form-control" ngModel name ="facade" [(ngModel)]="defaultValue" >
      <option value = "admin" > Admin </option>
      <option value = "company"> Company </option>
      <option value = "customer"> Customer </option>
    </select>
    <button type="submit" class="btn btn-primary" >Sign in</button>


</form>


  <div class="col">
    <img src="./assets/img/coupon.gif">
  </div>
</div>
