<div class="row">
  <div class="col">
    <h1>Hello!<br> Please Sign In</h1>
  </div>
  <form >
    <div>
      <input type="text" class="form-control" placeholder="User Name"  name="userName" [(ngModel)]="credentials.userName">
      <input type="password" class="form-control" placeholder="Password" name="pass" [(ngModel)]="credentials.password">
      <select class="form-control"  name="facade" [(ngModel)]="credentials.type">
          <option selected disabled> Select Type </option>
        <option value="Admin" > Admin </option>
        <option value="Company"> Company </option>
        <option value="Customer"> Customer </option>
      </select>
    </div>
    <button  type="button" class="btn btn-primary" (click)="logging()">Sign in</button>
  </form>
  <div class="col">
    <img src="./assets/img/coupon.gif">
  </div>
</div>