nav{
    color: red;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;

}
button{
    margin-top: 60px;
margin-left: 130px;
    font-size: 80px;
    color: blue;
    background-color: yellow;
    box-shadow: 10px

}