<nav>
    <a (click)="logout()">Logout</a>
</nav>

<br>
<div class="btn-group">

    <button type="button" class="btn btn-secondary" (click)="addCouponOpen()">Add Coupon </button>

    <button type="button" (click)="addNewCouponOpen()" class="btn btn-secondary">Create Coupon</button>

    <button type="button" (click)="getCoponByIDOpen()" class="btn btn-secondary">Get Coupon </button>

    <button type="button" (click)="deleteCoponByIDOpen()" class="btn btn-secondary">Delete Coupon</button>

    <button type="button" (click)="getAllCoupons()" class="btn btn-secondary">Get All Coupons</button>

    <button type="button" (click)="deleteAllCoupons()" class="btn btn-secondary">Delete All Coupons</button>

    <button type="button" (click)="updateCoponOpen()" class="btn btn-secondary">Update Coupon</button>

    <button type="button" (click)="getCouponsByTypeOPen()" class="btn btn-secondary">Get Coupon By Type</button>

    <button type="button" (click)="getCouponsByDateOPen()" class="btn btn-secondary">Get Coupon By Date</button>

    <button type="button" (click)="getCouponsByPriceOPen()" class="btn btn-secondary">Get Coupon By Price</button>
</div>
<br><br><br>


<div *ngIf="addCouponOpenFlag">
    <div class="form-group row">
        <label class="col-2 col-form-label">Coupin Id</label>
        <div class="col-3">
            <input class="form-control" type="number" (keypress)="onlyNumberKey($event)"
                placeholder="Please enter Coupon id" [(ngModel)]="this.coupId" min="1" maxlength="4">
        </div>
        <div class="col-7">
            <button type="button" (click)="addCouponToCompany()" class="btn btn-primary" style="margin:0px">Add this
                Coupon to Company </button>
        </div>

    </div>
</div>

<div *ngIf="createCouponFlag">
    <div class="form-group row">
        <label class="col-2 col-form-label">Coupin Id</label>
        <div class="col-10">
            <input class="form-control" type="number" (keypress)="onlyNumberKey($event)"
                placeholder="Please enter Coupon id" [(ngModel)]="this.coupon.id" min="1" maxlength="4">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Coupon Title</label>
        <div class="col-10">
            <input class="form-control" type="text" placeholder="Please enter Coupon title"
                [(ngModel)]="this.coupon.title">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Start Date</label>
        <div class="col-10">
            <input class="form-control" type="date" [(ngModel)]="this.coupon.startDate">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">End Date</label>
        <div class="col-10">
            <input class="form-control" [(ngModel)]="this.coupon.endDate" type="date">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Coupon Amount</label>
        <div class="col-10">
            <input class="form-control" type="number" (keypress)="onlyNumberKey($event)"
                placeholder="Please enter Coupon amount" [(ngModel)]="this.coupon.amount" min="1" maxlength="4">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Coupon Type</label>
        <div class="col-10">
            <select class="form-control" name="type" [(ngModel)]="coupon.type">
                <option selected disabled> Select Type </option>
                <option value="RESTURANS"> RESTURANS </option>
                <option value="ELECTRICITY"> ELECTRICITY </option>
                <option value="FOOD"> FOOD </option>
                <option value="HEALTH"> HEALTH </option>
                <option value="SPORTS"> SPORTS </option>
                <option value="CAMPING"> CAMPING </option>
                <option value="TRAVELLING"> TRAVELLING </option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Coupon Message</label>
        <div class="col-10">
            <input class="form-control" type="text" placeholder="Please enter Coupon message"
                [(ngModel)]="this.coupon.message">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Coupin Price</label>
        <div class="col-10">
            <input class="form-control" type="number" (keypress)="onlyNumberKey($event)"
                placeholder="Please enter Coupon price" [(ngModel)]="this.coupon.price" min="1" maxlength="4"
                id="example-number-input">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Coupon Image</label>
        <div class="col-10">
            <input class="form-control" type="text" placeholder="Please enter Coupon image"
                [(ngModel)]="this.coupon.image">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-10">
            <button type="button" (click)="createThisCoupon()" class="btn btn-primary"
                style="margin-left: 150px;">Create this Coupon </button>
        </div>
    </div>
</div>

<div *ngIf="getCuponFlag">
    <div class="form-group row">
        <label class="col-2 col-form-label">Coupin Id</label>
        <div class="col-3">
            <input class="form-control" type="number" (keypress)="onlyNumberKey($event)"
                placeholder="Please enter Coupon id" [(ngModel)]="this.coupId" min="1" maxlength="4">
        </div>
        <div class="col-7">
            <button type="button" (click)="getCoupon()" class="btn btn-primary" style="margin:0px">Get Coupon </button>
        </div>
    </div>
</div>

<div *ngIf="deleteCouponFlag">
    <div class="form-group row">
        <label class="col-2 col-form-label">Coupin Id</label>
        <div class="col-3">
            <input class="form-control" type="number" (keypress)="onlyNumberKey($event)"
                placeholder="Please enter Coupon id" [(ngModel)]="this.coupId" min="1" maxlength="4">
        </div>
        <div class="col-7">
            <button type="button" (click)="deleteCouponById()" class="btn btn-primary" style="margin:0px"> Delete Coupon
            </button>
        </div>
    </div>
</div>

<div *ngIf="updateCoponFlag">
    <div class="form-group row">
        <label class="col-2 col-form-label">Coupin Id</label>
        <div class="col-10">
            <input class="form-control" type="number" (keypress)="onlyNumberKey($event)"
                placeholder="Please enter Coupon id" [(ngModel)]="this.coupon.id" min="1" maxlength="4">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">End Date</label>
        <div class="col-10">
            <input class="form-control" [(ngModel)]="this.coupon.endDate" type="date">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Coupin Price</label>
        <div class="col-10">
            <input class="form-control" type="number" (keypress)="onlyNumberKey($event)"
                placeholder="Please enter Coupon price" [(ngModel)]="this.coupon.price" min="1" maxlength="4"
                id="example-number-input">
        </div>
    </div>
    <div class="form-group row">
            <div class="col-10">
                <button type="button" (click)="updateCopon()" class="btn btn-primary"
                    style="margin-left: 90px;">Update this Coupon </button>
            </div>
        </div>
</div>

<div *ngIf="couponByTypeFlag">
    <div class="form-group row">
        <label class="col-2 col-form-label">Coupon Type</label>
        <div class="col-3">
            <select class="form-control" name="type" [(ngModel)]="coupon.type">
                <option selected disabled> Select Type </option>
                <option value="RESTURANS"> RESTURANS </option>
                <option value="ELECTRICITY"> ELECTRICITY </option>
                <option value="FOOD"> FOOD </option>
                <option value="HEALTH"> HEALTH </option>
                <option value="SPORTS"> SPORTS </option>
                <option value="CAMPING"> CAMPING </option>
                <option value="TRAVELLING"> TRAVELLING </option>
            </select>
        </div>
        <div class="col-7">
            <button type="button" (click)="findCpouponByType()" class="btn btn-primary" style="margin:0px">Find Coupon By Type </button>
        </div>
    </div>
  
</div>

<div *ngIf="couponByDateFlag">
    <div class="form-group row">
        <label class="col-2 col-form-label">Coupon Type</label>
        <div class="col-3">
            <input type="date" class="form-control" placeholder="Please enter Coupon end date" [(ngModel)]="date">
        </div>
        <div class="col-7">
            <button type="button" (click)="findCpouponByDate()" class="btn btn-primary" style="margin:0px">Find Coupon By End Date Before </button>
        </div>
    </div>
  
</div>
<div *ngIf="couponByPriceFlag">
    <div class="form-group row">
        <label class="col-2 col-form-label">Coupon Price</label>
        <div class="col-3">
            <input type="number" pInputText (keypress)="onlyNumberKey($event)" maxlength="4" min=1 class="form-control"
            placeholder="Please enter Coupon  price" [(ngModel)]="price">
        </div>
        <div class="col-7">
            <button type="button" (click)="findCpouponByDate()" class="btn btn-primary" style="margin:0px">Find Coupon By Price Less Than </button>
        </div>
    </div>
</div>

<div *ngIf="exist" style="color:red">
    <h2>This coupon is not exist or you have one licke this</h2>
</div>
<div *ngIf="existA" style="color:red">
    <h2>This coupon is not exist</h2>
</div>
<div *ngIf="existB" style="color:red">
    <h2> Coupon whis this Type is not exist</h2>
</div>
<div *ngIf="existC" style="color:red">
    <h2> Coupon before this Date is not exist</h2>
</div>
<div *ngIf="existD" style="color:red">
    <h2> Coupon Less that this Price is not exist</h2>
</div>
<div *ngIf="wasDeleted" style="color:red">
    <h2>All coupons deleted</h2>
</div>
<div *ngIf="couponEmpty" style="color:red">
    <h2>You don't have any coupons</h2>
</div>


<div *ngIf="couponArrFlag">
    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Massege</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
        <tr *ngFor="let coupon of coupons">
            <td>{{coupon.id}}</td>
            <td>{{coupon.title}}</td>
            <td>{{coupon.startDate}}</td>
            <td>{{coupon.endDate}}</td>
            <td>{{coupon.amount}}</td>
            <td>{{coupon.type}}</td>
            <td>{{coupon.message}}</td>
            <td>{{coupon.price}}</td>
            <td>{{coupon.image}}</td>
        </tr>

    </table>
</div>
<div *ngIf="oneCouponFlag">
    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Massege</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
        <tr>
            <td>{{this.coupon.id}}</td>
            <td>{{this.coupon.title}}</td>
            <td>{{this.coupon.startDate}}</td>
            <td>{{this.coupon.endDate}}</td>
            <td>{{this.coupon.amount}}</td>
            <td>{{this.coupon.type}}</td>
            <td>{{this.coupon.message}}</td>
            <td>{{this.coupon.price}}</td>
            <td>{{this.coupon.image}}</td>
        </tr>

    </table>
</div>